<!DOCTYPE html>
<html>
<head>
<title>UserLoginApp</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Login,UserLoginApp">
</head>
<body>
<div>
<h1 align="center" >Hello User</h1>
<h3 align="center" >Enter your details to register.</h3>
<!-- <form name="loginForm" method="post" action="/welcome">
UserName &nbsp; 
<input type="text" name="username" id="username"/><br/></br>
Password &nbsp; &nbsp; 
<input type="password" name= "password" id="password"/>&nbsp;
<button onclick="welcomePage()">Login</button>
</form> -->
<form name="UserLogin" action="#" th:action="@{/login}" 
	th:object="${login}" method="post">
<p>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input placeholder="Name " type="text" th:field="*{name}" /></p>
<p>Password
<input placeholder="Password " type="password" th:field="*{password}" /></p>
<p><input type="submit" value="Submit" /> 
<input type="reset" value="Reset" /></p>
</form>
</div>
</body>
</html>